

                                

<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-403">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Book Your Massage Today!</h2>
            <p class="cs-text">
                Book your massage at Noi Thai Massage now and embark on a journey of self-care and restoration.
            </p>
            <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-button-solid">Schedule A Massage</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/banners/cta-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/banners/cta.webp">
        <img loading="lazy" decoding="async" src="/assets/images/banners/cta.jpg" alt="massage" width="1920" height="660" aria-hidden="true">
    </picture>
</section>
                                
                                