---
title: 'About'
description: 'At Noi Thai Massage, our passion is your wellness. Discover our story and dedication to providing exceptional massage experiences in Sunderland.'
preloadImg: '/assets/images/banners/internal.webp'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1400">
    <div class="cs-container">
        <span class="cs-int-title">About Us</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/about/" class="cs-link cs-active">About</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/banners/internal-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/banners/internal.webp">
        <img decoding="async" src="/assets/images/banners/internal.jpg" alt="massage" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-867">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/gallery/2.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/gallery/2.webp">
            <img loading="lazy" decoding="async" src="/assets/images/side/aromatherapy.jpg" alt="noi" width="630" height="775">
        </picture>
        <div class="cs-content">
            <h2 class="cs-title">Sharing Thailand's Healing Touch</h2>
            <p class="cs-text">
                At Noi Thai Massage, I am dedicated to providing you with an authentic and transformative Thai massage experience. My story begins with a passion for sharing the ancient wisdom of Thai healing arts with others.
            </p>
            <p class="cs-text">
                Born and raised in the beautiful island of Phuket, Thailand, I discovered my calling for massage therapy at a young age. With over 15 years of experience as a masseuse, I have honed my skills and developed a deep understanding of the human body and its needs. My expertise has been shaped by extensive work in prestigious spa businesses across Thailand and Phuket, where I refined my techniques and gained invaluable insights into the art of Thai massage.
            </p>
            <p class="cs-text">
                My inspiration to start my own Thai massage business stems from a profound desire to help individuals suffering from chronic pain. Having witnessed the transformative power of Thai massage in relieving discomfort and promoting overall well-being, I am committed to bringing this ancient healing practice to those who need it most. I believe that everyone deserves to experience the benefits of Thai massage and live a life free from pain.
            </p>
            <p class="cs-text">
                I understand that each individual's needs are unique, which is why I take a personalised approach to every massage session. I listen attentively to your concerns, assess your body's requirements, and tailor the treatment to ensure you receive the maximum benefits. Whether you seek relief from chronic pain, desire stress reduction, or simply crave a moment of relaxation, I am dedicated to helping you achieve your wellness goals.
            </p>
            <p id="quote-828">
                Through the healing touch of Thai massage, I aim to alleviate pain, restore balance, and help you rediscover a sense of inner peace and well-being.
                <span class="cs-name">Noi, Founder of Noi Thai Massage</span>
            </p>                     
        </div>
    </div>
</section>
                                
                                

    {% include 'components/cta.html' %}

{% endblock %}