---
title: 'Massages'
description: 'Explore our range of expert massage services in Sunderland. Choose from 30, 60, or 90-minute sessions tailored to your relaxation needs. Book now!'
preloadImg: '/assets/images/banners/internal.webp'
permalink: 'massages/'
eleventyNavigation:
    key: Massages
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/treatments.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1400">
    <div class="cs-container">
        <span class="cs-int-title">Massages</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/massages/" class="cs-link cs-active">Massages</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/banners/internal-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/banners/internal.webp">
        <img decoding="async" src="/assets/images/banners/internal.jpg" alt="massage" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--                  Menu Group                  -->
<!-- ============================================ -->

<div id="cs-menu-group-1037">
    <div class="cs-container">
        <div class="cs-content">
            <picture class="cs-icon-wrapper">
                <img class="cs-icon" decoding="async" src="/assets/svgs/logo-b.svg" alt="divider" width="181" height="36" aria-hidden="true">
            </picture>
            <h2 class="cs-title">Our Treatments</h2>
            <div class="cs-button-group">
                <button class="cs-button cs-active" data-filter="one" onclick="window.location.href='#cs-menu-group';">
                    30 Min
                </button>
                <button class="cs-button" data-filter="two" onclick="window.location.href='#cs-menu-group';">
                    60 Min
                </button>
                <button class="cs-button" data-filter="three" onclick="window.location.href='#cs-menu-group';">
                    90 Min
                </button>
            </div>
        </div>
        <!--30 min-->
        <div id="cs-menu1-1037" class="cs-menu-group" data-category="one">
            <!--30 min-->
            <section class="cs-menu">
                <div class="cs-container">
                    <ul class="cs-card-group">
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/thai.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/thai.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/thai.jpg" alt="thai massage" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Thai Traditional Massage</span>
                                    <span class="cs-price">
                                        £25
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Revive with ancient stretching and pressure point techniques for enhanced flexibility and tension relief.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/deep-tissue3.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/deep-tissue3.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/deep-tissue3.jpg" alt="deep tissue massage" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Deep Tissue Massage</span>
                                    <span class="cs-price">
                                        £25
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Intensive deep tissue treatment for muscle recovery, alleviating stiffness and chronic pain. 
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/oil.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/oil.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/oil.jpg" alt="oil massage" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Swedish (Hot Oil) Massage</span>
                                    <span class="cs-price">
                                        £25
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Gentle strokes and kneading with warm oils for deep relaxation and tension relief.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/aromatherapy.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/aromatherapy.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/aromatherapy.jpg" alt="aromatherapy massage" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Thai Aromatherapy Massage</span>
                                    <span class="cs-price">
                                        £25
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Soothing strokes with essential oils relax, rejuvenate, and restore balance.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/foot.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/foot.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/foot.jpg" alt="foot massage" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Foot Reflexology</span>
                                    <span class="cs-price">
                                        £25
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Pressure point therapy on feet for relaxation, healing, and improved overall well-being.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <!--60 min-->
        <div id="cs-menu2-1037" class="cs-menu-group" data-category="two">
            <!--60 min-->
            <section class="cs-menu">
                <div class="cs-container">
                    <ul class="cs-card-group">
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/thai.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/thai.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/thai.jpg" alt="thai massage" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Thai Traditional Massage</span>
                                    <span class="cs-price">
                                        £45
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Revive with ancient stretching and pressure point techniques for enhanced flexibility and tension relief.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/deep-tissue3.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/deep-tissue3.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/deep-tissue3.jpg" alt="deep tissue massage" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Deep Tissue Massage</span>
                                    <span class="cs-price">
                                        £45
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Intensive deep tissue treatment for muscle recovery, alleviating stiffness and chronic pain. 
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/oil.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/oil.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/oil.jpg" alt="oil massage" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Swedish (Hot Oil) Massage</span>
                                    <span class="cs-price">
                                        £45
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Gentle strokes and kneading with warm oils for deep relaxation and tension relief.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/aromatherapy.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/aromatherapy.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/aromatherapy.jpg" alt="aromatherapy massage" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Thai Aromatherapy Massage</span>
                                    <span class="cs-price">
                                        £45
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Soothing strokes with essential oils relax, rejuvenate, and restore balance.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/foot.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/foot.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/foot.jpg" alt="foot massage" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Foot Reflexology</span>
                                    <span class="cs-price">
                                        £50
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Pressure point therapy on feet for relaxation, healing, and improved overall well-being.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/hotstone.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/hotstone.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/hotstone.jpg" alt="hot stone massage" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Hot Stone Massage</span>
                                    <span class="cs-price">
                                        £50
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Heated stones relax tense muscles, improve circulation, and calm the nervous system.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/herbal.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/herbal.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/herbal.jpg" alt="herbal massage" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Thai Herbal Compress Massage</span>
                                    <span class="cs-price">
                                        £50
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Steamed herbal compresses soothe sore muscles, ease joint stiffness, and promote deep relaxation.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <!--90 min-->
        <div id="cs-menu3-1037" class="cs-menu-group" data-category="three">
            <!--90 min-->
            <section class="cs-menu">
                <div class="cs-container">
                    <ul class="cs-card-group">
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/thai.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/thai.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/thai.jpg" alt="thai massage" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Thai Traditional Massage</span>
                                    <span class="cs-price">
                                        £65
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Revive with ancient stretching and pressure point techniques for enhanced flexibility and tension relief.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/deep-tissue3.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/deep-tissue3.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/deep-tissue3.jpg" alt="deep tissue massage" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Deep Tissue Massage</span>
                                    <span class="cs-price">
                                        £65
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Intensive deep tissue treatment for muscle recovery, alleviating stiffness and chronic pain. 
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/oil.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/oil.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/oil.jpg" alt="oil massage" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Swedish (Hot Oil) Massage</span>
                                    <span class="cs-price">
                                        £65
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Gentle strokes and kneading with warm oils for deep relaxation and tension relief.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/aromatherapy.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/aromatherapy.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/aromatherapy.jpg" alt="aromatherapy massage" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Thai Aromatherapy Massage</span>
                                    <span class="cs-price">
                                        £65
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Soothing strokes with essential oils relax, rejuvenate, and restore balance.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/foot.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/foot.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/foot.jpg" alt="foot massage" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Foot Reflexology</span>
                                    <span class="cs-price">
                                        £75
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Pressure point therapy on feet for relaxation, healing, and improved overall well-being.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/hotstone.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/hotstone.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/hotstone.jpg" alt="hot stone massage" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Hot Stone Massage</span>
                                    <span class="cs-price">
                                        £75
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Heated stones relax tense muscles, improve circulation, and calm the nervous system.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/herbal.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/herbal.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/herbal.jpg" alt="herbal massage" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Thai Herbal Compress Massage</span>
                                    <span class="cs-price">
                                        £75
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Steamed herbal compresses soothe sore muscles, ease joint stiffness, and promote deep relaxation.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-button-solid">Schedule A Massage</a>
    </div>
</div>

<script>
    class CS_MenuFilter {
    filtersSelector = '.cs-button'
    menuSelector = '.cs-menu-group'
    activeClass = 'cs-active'
    hiddenClass = 'cs-hidden'

    constructor() {
        this.$menus = document.querySelectorAll(this.menuSelector)
        const $filters = document.querySelectorAll(this.filtersSelector)

        this.onClick($filters[0])

        for (const $filter of $filters) {
            $filter.addEventListener('click', () => this.onClick($filter))
        }
    }

    onClick($filter) {
        this.filter($filter.dataset.filter)

        const { activeClass } = this

        this.$activeFilter?.classList.remove(activeClass)
        $filter.classList.add(activeClass)

        this.$activeFilter = $filter
    }

    filter(filter) {
        const showAll = filter == 'all'
        const { hiddenClass } = this

        for (const $menu of this.$menus) {
            const show = showAll || $menu.dataset.category == filter
            $menu.classList.toggle(hiddenClass, !show)
        }
    }
}

new CS_MenuFilter()
                                
</script>
                                
                                
                                
                                

    {% include 'components/cta.html' %}

{% endblock %}